header>nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b73852;
}

* {
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

#c {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #ef8fa1;
    top: 400px;
}

main>h1 {
    left: 900px;
    top: 250px;
    position: absolute;
    font-size: 50px;

}

main>p {
    position: absolute;
    bottom: 200px;
    left: 900px;
    text-align: justify;
    width: 400px;
}

#r {
    position: absolute;
    bottom: 150px;
    left: 900px;
}

#r>button {
    padding: 10px;
    color: rgb(13, 183, 126);
    border-radius: 100px;
}

#img {
    background-image: url("geralt-mobile-phone-1917737_1920");
    height: 500px;
    width: 300px;
    background-size: 300px 500px;
    position: absolute;
    right: 800px;
    top: 180px;
}
